@model StudentManagementSystem.Models.Course
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container mt-4">
    <h2>Create Course</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-dander" })

    <div class="form">
        @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "form-label fw-bold" })
        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Course Name" } })
        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
    </div>
    <div class="form mt-3">
        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "form-label fw-bold" })
        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Duration" } })
        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
    </div>
    <div class="d-flex mt-4">
        <button type="submit" class="btn btn-primary">Create</button>
        <div class="ms-2">
        <a href="/Course/Index" class="btn btn-secondary">Cancel</a>
    </div>
        </div>
        
</div>
}



