@model IEnumerable<StudentManagementSystem.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Course List</h2>
@*<p>
    @Html.ActionLink("Create New Course", "Create")
</p>*@
<a href="/Course/Create" class="btn btn-secondary">Create New Course</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

